{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="get">
        <input type="number" name="value">
        <button type="submit">Adicionar</button>
    </form>
    {% for luminosity in luminositys %}
    <ul class="list-group">
    </ul>
    {% endfor %}
    <ul class="list-group">
        <li class="list-group-item">ph = 2</li>
        <li class="list-group-item">ph = 3</li>
        <li class="list-group-item">ph = 1</li>
        <li class="list-group-item">ph = 5</li>
    </ul>
</div>
{% endblock %}